* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #DEF5E5;
    --primary-color: #BCEAD5;
    --secondary-color: #9ED5C5;
    --wave-color: #8EC3B0;
    --submit-color: rgb(6, 174, 230);
    --black-white: black;
}

.dark {
    --main-color: #CABFAB;
    --primary-color: #DFD8C8;
    --secondary-color: #41444B;
    --wave-color: #52575D;
    --submit-color: rgb(6, 174, 230);
    --black-white: white;

}


body {
    background-color: var(--primary-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index: -2;
}

main::after {
    content: '';
    position: fixed;
    width: 300%;
    height: 100%;
    background-color: var(--wave-color);
    top: 60%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%) skew(0, -10deg);
    z-index: -1;
    animation: waving 15s ease-in-out infinite alternate;
}

@keyframes waving {
    from {
        transform: translateX(-50%) skew(0, -10deg);
    }

    to {
        transform: translateX(-30%) skew(10deg, 0deg);

    }
}

header {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    justify-content: space-around;
    margin: 0px 0 50px;
    padding: 0 50px;
}

header #logo {
    width: 140px;
}

header h1 {
    color: var(--black-white);
    font-size: 40px;
    padding-right: 120px;
}

header #icon {
    width: 50px;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

section form {
    z-index: 5;
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    padding: 0 0 0 4px;
    background-color: var(--secondary-color);
}

section form input {
    height: 90%;
    flex: 1;
    font-size: 25px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    color: var(--black-white);
}

section form button {
    border: none;
    background-color: transparent;
    font-size: 25px;
    padding: 4px 10px;
    color: var(--black-white);
    transition: all 0.3s;
}

section form button:hover {
    background-color: var(--black-white);
    color: var(--secondary-color);
}

.container {
    margin-top: 30px;
}

.container ul .todo-list {
    min-width: 35%;
    width: fit-content;
    margin: 20px auto;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    transition: all 0.3s;
}

@media (max-width : 1200px) {
    .container ul .todo-list {
        min-width: 70%;
    }
}

@media (max-width : 630px) {
    .container ul .todo-list {
        min-width: 95%;
    }
}

.todo-item {
    flex: 1;
    padding-left: 5px;
    font-size: 25px;
    background-color: var(--secondary-color);
    color: var(--black-white);
}

.todo-list .complete,
.todo-list .trash {
    font-size: 20px;
    color: var(--black-white);
    border: none;
    padding: 10px;
}

.todo-list .complete {
    background-color: rgb(92, 232, 64);
}

.todo-list .trash {
    background-color: rgb(230, 57, 57);
}

button i {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.fall {
    transform: translateY(150px) rotateZ(20deg);
    opacity: 0;
}